In this project, I'll be working with a dataset of used cars from eBay Kleinanzeigen, a [classifieds](https://en.wikipedia.org/wiki/Classified_advertising) section of the [German eBay](https://data.world/data-society/used-cars-data) website.

A few modifications have been made from the original dataset:

50,000 data points from the full dataset have been sampled, to ensure the code runs quickly in the hosted environment.
The dataset has been dirtied a bit to more closely resemble what you would expect from a scraped dataset (the version uploaded to Kaggle was cleaned to be easier to work with).
Data dictionary for the dataset:

    dateCrawled - When the ad was first crawled. All field-values are taken from this date.
    name - Name of the car.
    seller - Whether the seller is private or a dealer.
    offerType - The type of listing.
    price - The listed selling price of the car.
    abtest - Whether the listing is included in an A/B test.
    vehicleType - The type of vehicle.
    yearOfRegistration - The year in which the car was first registered.
    gearbox - The type of transmission.
    powerPS - The power of the car in PS.
    model - The car model name.
    odometer - How many kilometers the car has driven.
    monthOfRegistration - The month in which the car was first registered.
    fuelType - What type of fuel the car uses.
    brand - The brand of the car.
    notRepairedDamage - If the car has a damage which is not yet repaired.
    dateCreated - The date the eBay listing was created.
    nrOfPictures - The number of pictures in the ad.
    postalCode - The postal code for the location of the vehicle.
    lastSeenOnline - When the crawler saw this ad last online.

The aim of this project is to clean the dataset and perform some initial analysis on it

In [4]:
import pandas as pd
import numpy as np
autos = pd.read_csv("autos.csv", encoding = "latin1")

In [6]:
autos
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

From the displayed data above, the following are observations:

    The dataset contains 20 columns, most of which are strings.
    Some columns have null values, but none have more than ~20% null values.
    The column names use camelcase instead of Python's preferred snakecase, which means we can't just replace spaces with underscores.
Converting the column names from camelcase to snakecase and changing some of the column names based on the data dictionary will make the data to be more descriptive.

In [8]:
print(autos.columns)

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [10]:
mapping_dict = {
"yearOfRegistration" : "registration_year",
"monthOfRegistration" : "registration_month",
"notRepairedDamage" : "unrepaired_damage",
"dateCreated" : "ad_created",
"dateCrawled" : "date_crawled",
"name" : "name",
"seller" : "seller",
"offerType" : "offer_type",
"price" : "price",
"abtest" : "ab_test",
"vehicleType" : "vehicle_type",
"powerPS" : "power_PS",
"model" : "model",
"odometer" : "odometer",
"fuelType" : "fuel_type",
"brand" : "brand",
"nrOfPictures" : "nr_of_pictures",
"postalCode" : "postal_code",
"lastSeen" : "last_seen"
}
autos.columns = autos.columns.map(mapping_dict)
print(autos.columns)

Index([      'date_crawled',               'name',             'seller',
               'offer_type',              'price',            'ab_test',
             'vehicle_type',  'registration_year',                  nan,
                 'power_PS',              'model',           'odometer',
       'registration_month',          'fuel_type',              'brand',
        'unrepaired_damage',         'ad_created',     'nr_of_pictures',
              'postal_code',          'last_seen'],
      dtype='object')